* {
  box-sizing: border-box;
}

body {
  font-family: "Arial, Helvetica, sans-serif";
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Arial, Helvetica, sans-serif";
  font-weight: 400;
}

.cf:before, .cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

ul, ol {
    margin:0;
    padding:0;
    text-indent: -20px;
    padding-left: 20px;
}

.wrapper {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
}

.banner {
  padding: 5em 0;
}

h1 {
  color: black;
  text-align: right;
  font-size: 5em;
  display: inline;
  float: right;
  margin: 0;
}

.logo {
  float: left;
  background: DeepSkyBlue;
  border-radius: 10%;
  width: 180px;
  height: 180px;
  line-height: 180px;
  text-align: center;
  color: White;
  font-size: 1.6em;
}

.education {
  margin: 5px auto;
  padding: 5em 1em;
  background: darkslategray;
  border-radius: .33em;
  max-width: 1000px;
}

h2 {
  color: whitesmoke;
  text-align: right;
  font-size: 5em;
  display: inline;
  float: right;
  margin: 0;
}

.eduInfo {
  color: whitesmoke;
  font-size: 1.2em;
  float: left;
  text-align: left;
}

.work {
  margin: 5px auto;
  padding: 5em 1em;
  background: midnightblue;
  border-radius: .33em;
  max-width: 1000px;
}

h3, h4 {
  color: whitesmoke;
  text-align: right;
  font-size: 5em;
  display: inline;
  float: right;
  margin: 0;
}

.workInfo, .workList, .skillsList {
  color: whitesmoke;
  font-size: 1.2em;
}

.workList, .skillsList {
  text-align: left;
  /*display: inline;*/
  text-indent: -26px;
  padding-left: 28px;
  list-style-position: inside;
}

.skills {
  margin: 5px auto;
  padding: 5em 1em;
  background: navy;
  border-radius: .33em;
  max-width: 1000px;
}

.projects {
  margin: 5px auto;
}

h5, h6 {
  font-size: 5em;
  margin: 0 auto;
  /*text-decoration: underline;*/
}

.projectsInfo {
  padding-top: 40%;
  padding-left: 5px;
  color: whitesmoke;
  font-size: 1.2em;
}

.card {
  background: gray;
  border-radius: .33em;
  height: 450px;
  display: table;
  background-repeat: no-repeat;
  width: 49%;
  margin-bottom: 10px;
  border-style: solid;
}

.card_full {
  background: gray;
  height: 700px;
  width: 100%;
  min-width: 500px;
  background-repeat: no-repeat;
  border-radius: .33em;
  border-style: solid;
  background-image: url(images/aboutme.jpg);
  background-size: 100%;
  /*background-position: 100px 100px;*/
}

.card_1, .card_3{
  float: left;
}

.card_2, .card_4 {
  float: right;
}

.row {
  width: 100%;
}

.card_1 {
  background-image: url(images/sudoku_cropped.jpg);
  background-size: 100%;
}

.card_2 {
  background-image: url(images/monopoly_cropped.jpg);
  background-size: 100%;
}

.card_3 {
  background-image: url(images/simon_cropped.jpg);
  background-size: 100%;
}

.card_4 {
  background-image: url(images/code_cropped.jpg);
  background-size: 100%;
}

.aboutMeInfo {
  padding-top: 30%;
  padding-left: 5px;
  color: whitesmoke;
  font-size: 1.2em;
}
